@media (min-width: 425px) {
  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1.2em; } }
@media (min-width: 576px) {
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; }
  .section-slider .btn {
    width: 150px; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    transform: translateX(50%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    transform: translateX(-50%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    transform: translateX(0); }

  .work .grid {
    padding: 5% 0 10%; }
    .work .grid .grid-sizer {
      width: 5%; }
    .work .grid .gutter-sizer {
      width: 0; }
    .work .grid .grid-item img {
      width: 100%; }
    .work .grid .grid-item--width1 {
      width: 30%; }
    .work .grid .grid-item--width2 {
      width: 20%; }
    .work .grid .grid-item--width3 {
      width: 15%; }

  .blog .grid .grid-sizer {
    width: 5%; }
  .blog .grid .gutter-sizer {
    width: 0; }
  .blog .grid .grid-item {
    width: 48%; } }
@media (min-width: 768px) {
  header ul a {
    padding: 25px 9px; }

  .section-slider h2 span {
    font-size: 1em; }
  .section-slider p span {
    font-size: 1em; }
  .section-slider .btn {
    margin-left: 150px; }
  .section-slider .control-type {
    width: 3%;
    height: 20%;
    opacity: 1;
    background-color: #000;
    position: absolute;
    top: 40%;
    overflow: hidden; }
    .section-slider .control-type .size {
      font-size: 2em; }

  .card .layer-one h3 {
    font-size: 1.2em; }
  .card .card-body p span {
    font-size: 1em; }

  .development .design-headline {
    font-size: 1.5em; }
  .development .design-text {
    font-size: 1.2em; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    transform: translateX(25%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    transform: translateX(-25%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    transform: translateX(0); }

  .clients .control-type-mini {
    width: 3%;
    height: 80%;
    top: 10%; }
    .clients .control-type-mini .size-mini {
      font-size: 2em;
      padding-top: 8px; }

  .section-headline {
    padding: 2% 0; }
    .section-headline h2 .headline {
      font-size: 1em; }

  .portfolio .portfolio-headline {
    font-size: 1.5em; }
  .portfolio .portfolio-title {
    font-size: 1.2em; }
  .portfolio .filters .btn-filter {
    font-size: 1.2em;
    padding: 15px 10px; }

  .section-headline-project {
    padding: 2% 0; }
    .section-headline-project h2 .headline {
      font-size: 1em; }

  .projects .project-gallery {
    padding-right: 15px; }

  .section-headline-blog {
    padding: 2% 0; }
    .section-headline-blog h2 .headline {
      font-size: 1em; }

  .blog .blog-headline {
    font-size: 0.7em; }
  .blog .news .news-headline {
    font-size: 0.7em; }
  .blog .news .news-text {
    font-size: 0.7em; }
  .blog .news .card-heart {
    font-size: 0.3em; }
  .blog .news .footer-card-text {
    font-size: 0.3em; }

  .footer .middle {
    line-height: 1; }
  .footer .footer-text {
    font-size: 0.5em; }
  .footer .days-ago {
    font-size: 0.3em; } }
@media (min-width: 992px) {
  .section-slider .slider-headline {
    padding-left: 5%; }
  .section-slider h2 span {
    font-size: 1.2em; }
  .section-slider p span {
    font-size: 1.2em; }
  .section-slider .btn {
    margin-left: 150px; }

  .card .layer-one h3 {
    font-size: 1em; }
  .card .card-body p {
    font-size: 0.7em;
    line-height: normal; }

  #carouselExample .carousel-inner .carousel-item-right.active,
  #carouselExample .carousel-inner .carousel-item-next {
    transform: translateX(16.666667%); }
  #carouselExample .carousel-inner .carousel-item-left.active,
  #carouselExample .carousel-inner .carousel-item-prev {
    transform: translateX(-16.666667%); }
  #carouselExample .carousel-inner .carousel-item-right,
  #carouselExample .carousel-inner .carousel-item-left {
    transform: translateX(0); }

  .blog .blog-headline {
    font-size: 1em; }
  .blog .news .news-headline {
    font-size: 1.2em; }
  .blog .news .news-text {
    font-size: 1em; }
  .blog .news .card-heart {
    font-size: 0.7em; }
  .blog .news .footer-card-text {
    font-size: 0.7em; }

  .footer .footer-text {
    font-size: 0.7em; }
  .footer .middle {
    line-height: 1.7; } }
@media (min-width: 1200px) {
  .section-slider .slider-headline {
    padding-left: 5%; }
  .section-slider h2 span {
    font-size: 1.5em; }
  .section-slider p span {
    font-size: 1.5em; }

  .development .design-headline {
    font-size: 2em; }
  .development .design-text {
    font-size: 1.5em; }

  .portfolio .portfolio-headline {
    font-size: 2em; }
  .portfolio .portfolio-title {
    font-size: 1.5em; }
  .portfolio .filters .btn-filter {
    font-size: 1.5em; }

  .blog .blog-headline {
    font-size: 1.5em; }
  .blog .news .news-headline {
    font-size: 1.5em; }
  .blog .news .news-text {
    font-size: 1em; }
  .blog .news .card-heart {
    font-size: 0.7em; }
  .blog .news .footer-card-text {
    font-size: 0.7em; }
  .blog .grid .grid-sizer, .blog .grid .grid-item {
    border-bottom: 30px solid #F6F6F6; }
  .blog .page-style {
    font-size: 1.2em;
    padding: 5px 10px; } }
@media (min-width: 1600px) {
  aside .sidebar-item .left-column-list {
    padding-right: 40px; }
  aside ul a {
    font-size: 1em; }
  aside ul .arrow-list a {
    font-size: 1em;
    padding: 3px 0; }
  aside ul .tags-style {
    background-color: #FFEA00; }
    aside ul .tags-style a {
      font-size: 1em; } }

/*# sourceMappingURL=skokov-breakpoints.css.map */
