@import "mixins";
@import "variables";

/*--------------------------------------------------------------------------------------------------------
---------------------------------------------HOME---------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.section-slider {
  width: 100%;
  background: url("../img/slider.jpg") no-repeat center / cover;
  padding: 3% 0;
  position: relative;

  .indicators-type {
    .active {
      border: 3px solid $color;
      background-color: $yellow;
    }

    li {
      width: 15px;
      height: 15px;
      border: 3px solid $color;
      background-color: $color;
    }
  }

  h2 span {
    @include slider-headline;
  }

  p span {
    @include slider-title;
  }
  .control-type {
    width: 5%;
    height: 10%;
    opacity: 1;
    background-color: $black;
    position: absolute;
    top: 40%;
    overflow: hidden;

    &:hover {
      -webkit-filter: invert(0.8);
      filter: invert(0.8);
    }
  }
}

.section-slider {
  .btn {
    @include btn;
    transition: all .3s linear;

    &:hover {
      color: $yellow;
      border-bottom: 2px solid $yellow;
    }
  }
}

.development {
  background-color: $cream;
  padding: 5% 0 10%;
  position: relative;
  .design-headline {
    @include design-headline;
  }
  .design-text {
    @include design-text;
  }
}

.layer-one {
  width: 100%;
  height: 100%;
  background-color: $yellow;
  padding: 10% 5% 5%;
  position: relative;

  .icon-design {
    @include icon-design;
  }
}

.layer-two {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.8s linear;
  -o-transition: 0.8s linear;
  transition: 0.8s linear;
  opacity: 0;

  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 10%;
    border: 10px solid transparent;
    border-bottom: 10px solid $color;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.card {
  .layer-one h3 {
    font-size: $small;
  }
  .card-body p span {
    font-size: $smaller;
  }
}

.card {
  .body-bg {
    background-color: $color;
  }
  .layer-one-text {
    position: relative;
  }
  .layer-two-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: 0.8s linear;
    -o-transition: 0.8s linear;
    transition: 0.8s linear;
    opacity: 0;
    .card-link {
      font-size: 0.7em;
      color: $yellow;
    }
  }
}

.card {
  &:hover .layer-two {
    opacity: 1;
  }
  &:hover .layer-two-text {
    opacity: 1;
  }
}

.work {
  .work-headline {
    @include section-btn;
    position: relative;
    &:before {
      @include before-btn;
      width: calc(50vw - 130px);
    }
    &:after {
      @include after-btn;
      width: calc(50vw - 130px);
    }
  }
}

.work {
  background-color: $cream;
  .grid {
    padding: 5% 0 10%;
    .grid-sizer, .grid-item {
      width: 100%;
    }
    .gutter-sizer {
      width: 0;
    }
    .grid-item img {
      width: 100%;
    }
  }
}

.clients {
  background-color: $cream;
  padding-bottom: 5%;
  position: relative;
  .clients-headline {
    @include section-btn;
    position: absolute;
    &:before {
      @include before-btn;
      width: calc(50vw - 140px);
    }
    &:after {
      @include after-btn;
      width: calc(50vw - 140px);
    }
  }
  .control-type-mini {
    width: 5%;
    height: 50%;
    opacity: 1;
    background-color: $black;
    position: absolute;
    top: 20%;
    overflow: hidden;
  }
}

.icon-custom {
  @include slider-style;
}
#carouselExample {
  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(100%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-100%);
  }
  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left{
    transform: translateX(0);
  }
  a {
    transition: all .3s linear;
    &:hover {
      -webkit-filter: invert(0.8);
      filter: invert(0.8);
    }
  }
}

/*--------------------------------------------------------------------------------------------------------
---------------------------------------------PORTFOLIO----------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.section-headline {
  width: 100%;
  background: url("../img/img-portfolio/slider_bg.jpg") no-repeat center / cover;
  padding: 5% 0;
  h2 .headline {
    font-size: $smaller;
    color: $yellow;
    background-color: $color;
    padding: 15px 100px 15px 15px;
  }
}
.portfolio {
  background-color: $cream;
  padding: 4% 0;

  .hide {
    display: none;
  }

  .portfolio-headline {
    @include design-headline;
  }

  .portfolio-title {
    @include design-text;
  }

  .filters {
    .btn-filter {
      font-size: $smaller;
      font-weight: 600;
      color: $color;
      border: none;
      background-color: transparent;
      padding: 2px 4px;
      margin: 1px;

      &:active, &:focus {
        outline: none;
      }

      &:hover {
        background-color: $yellow;
      }
    }

    .is-checked {
      background-color: $yellow;
      border: none;
    }
  }
}

.portfolio-list {
  padding: 2% 0;

  .portfolio-item {
    border: 10px solid $cream;
    border-bottom: 50px solid $cream;
    .photo {
      width: 100%;
    }
    .portfolio-layer {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $yellow;
      -webkit-transition: 0.8s linear;
      -o-transition: 0.8s linear;
      transition: 0.8s linear;
      opacity: 0;

      .arrow {
        width: 50%;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
        opacity: 0.7;
        &:hover {
          opacity: 1;
        }

        .icon-arrow {
          font-size: $icon-arrow;
          color: $white;
          background-color: $color;
          padding: 30px;
        }
      }
    }
    &:hover .portfolio-layer {
      opacity: 0.7;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------
---------------------------------------------PROJECT------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.section-headline-project {
  width: 100%;
  background: url("../img/img-portfolio/slider_bg.jpg") no-repeat center / cover;
  padding: 5% 0;
  h2 .headline {
    font-size: $smaller;
    color: $yellow;
    background-color: $color;
    padding: 15px 166px 15px 15px;
  }
}

.projects {
  padding-top: 5%;
  background-color: $cream;
  .project-gallery {
    #myCarousel {
      .list-inline {
        white-space:nowrap;
        overflow-x:auto;
      }
      .carousel-indicators {
        position: static;
        left: initial;
        width: initial;
        margin-left: initial;
        .active {
          background-color: $yellow;
        }
      }
      .carousel-indicators > li {
        width: initial;
        height: initial;
        text-indent: initial;
      }
      .carousel-indicators > li.active img {
        opacity: 0.7;
      }
      .carousel-style {
        position: relative;
        background-color: $color;
      }
      .indicators-style {
        background-color: $black;
      }
      .control-type {
        width: 5%;
        height: 20%;
        opacity: 1;
        background-color: $black;
        position: absolute;
        top: 50%;
        overflow: hidden;
        .size {
          font-size: $icon-arrow;
        }
        &:hover {
          -webkit-filter: invert(0.8);
          filter: invert(0.8);
          color: $cream;
        }
      }
      .fullscreen-icon {
        color: $white;
        position: absolute;
        top: 2%;
        right: 1%;
        transition: all .3s linear;
        &:hover {
          color: $yellow;
        }
      }
    }
  }
  .description {
    padding: 5%;
    .description-headline {
      @include project-headline;
    }
    .description-text {
      font-size: $small;
      color: $color;
    }
    .border-text {
      padding-bottom: 5%;
      border-bottom: 2px solid $line;
    }
  }
  .recent-project {
    padding: 0 5% 5%;
    .recent-project-headline {
      @include project-headline;
    }
  }
}

/*--------------------------------------------------------------------------------------------------------
---------------------------------------------BLOG---------------------------------------------------------
----------------------------------------------------------------------------------------------------------*/

.section-headline-blog {
  width: 100%;
  background: url("../img/img-portfolio/slider_bg.jpg") no-repeat center / cover;
  padding: 5% 0;
  h2 .headline {
    font-size: $smaller;
    color: $yellow;
    background-color: $color;
    padding: 15px 200px 15px 15px;
  }
}
.blog {
  background-color: $cream;
  padding: 3% 0;
  .blog-headline {
    font-size: $small;
    font-style: italic;
    background-color: $yellow;
    padding: 1% 13%;
    cite {
      font-size: $smaller;
    }
    .quote-link {
      color: $black;
      font-weight: 700;
      transition: all .3s linear;
      &:hover {
        color: $google;
      }
    }
  }
  .grid {
    .grid-sizer, .grid-item {
      width: 100%;
      border-bottom: 15px solid $cream;
    }
    .gutter-sizer {
      width: 0;
    }
    .grid-item {
      width: 100%;
    }
  }
  .card-item {
    border: none;
  }
  .footer-card-link {
    color: $black;
    transition: all .3s linear;
    &:hover {
      color: $google;
    }
  }
  .news {
    background-color: $yellow;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: -30px;
      right: 10%;
      border: 15px solid transparent;
      border-bottom: 15px solid $yellow;
    }
    .news-headline {
      font-size: $normal;
      font-weight: 700;
      .news-link {
        color: $black;
        transition: all .3s linear;
        &:hover {
          color: $google;
        }
      }
    }
    .news-text {
      font-size: $smaller;
      color: $card-text;
    }
    .card-heart {
      font-size: $footer;
      color: $color;
      transition: all .3s linear;
      &:hover {
        color: $google;
      }
    }
    .footer-card-text {
      font-size: $footer;
      font-weight: 700;
    }
  }
  .page-style {
    font-size: $smaller;
    font-weight: 700;
    color: $black;
    padding: 5px;
    background-color: $cream;
    transition: all .3s linear;
    &:hover {
      background-color: $yellow;
    }
  }
  .active-link {
    background-color: $yellow;
  }
}

